<!DOCTYPE html>
<html>
  <head>
    <title>Mistercocktail</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <%= javascript_importmap_tags %>
  </head>

  <body>
   <header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= new_post_path %>">Ajouter un cocktail</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="<%= new_ingredient_path %>">Ajouter un ingredient</a>
          </li>
        </ul>
        <form class="d-flex" role="search" action="/search" > 
          <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>

<div class="container" style="padding-top:5rem;  margin: auto;
">
    <%= yield %>
</div>
  </body>
</html>
